/* nav bar */
.nav-bar {
  position: sticky;
  top: 0;

  height: 10vh;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5466561624649859) 35%, rgba(0,0,0,1) 100%);

  /* Content is centered horizontally */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo > img {
  max-height: 1em;
}

.about {
  background-color: #FFB800;
}

.program {
  background-color: #02C294;
}

.credits {
  background-color: #FFFFFF;
}

.nav-links {
  display: flex;
}

.nav-section {
  color: black;
  border-radius: 5.15625px;
  padding: 4px;
}

.nav-section:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* container */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  padding: 0 2.5vw;
}

/* twitch player */
.section-twitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: auto;
}

/* global elements */
.title {
  font-size:1em;
  line-height: 1em;  
  margin-bottom: 5vh;
}

.headline {
  font-size: 2.3em;
  line-height: 0.8em;
  padding: 8px;
  border-radius: 20px;
  display: flex;
  align-items:center;
  margin: 0;
}

.bodytext {
  font-size:1em;
  line-height: 1em; 
  width:40vw;
}

/* big section chunks */
.section {
  margin: 5vh 0;
}
/* about section*/
.section-about {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 5vw;
  background: black;
}

.headline-about {
  background: #FFB800;
}

.title-about {
  color:#FFB800;  
  
}

.bodytext-about {
  color:#FFB800;  
}

/* program section */
.section-program {
  display: flex;
  flex-direction: column;
  /* background: black; */
}

.title-program {
  color: #02C294;
}

.title.title-program {
  /* reduce 'program' title to 2.5vh */
  margin-bottom:2.5vh;
}

/* time */
.section-time {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 5vw;
  margin: 2.5vh 0;
}

.headline-time {
  border-radius: 10px;
  padding: 4px;
  background: #02C294;  
}

.bodytext-program {
  color: #02C294;
  display: flex;
  align-items: center;
}
/* performers */
.section-performers {
  margin: 2.5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.program-performers {
  border-radius: 10px;
  padding: 4px;
  display: flex;
  margin: 0 auto 0 0 ;
}
/*  */
/* .section-head {
  width: 80%;
  margin: 20px 10%;
  padding: 30px 0;
  text-align: center;
}

.section-body {
  width: 80%;
  margin: 20px 10%;
  padding: 30px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
} */


.program-red {
  background-color: #FF2828;
}

.program-magenta {
  background-color: #E353E5;
}

.program-yellow{
  background-color: #FFB800;
}

.program-blue {
  background-color: #287EFF
}


.program-white {
  background-color: #FFFFFF;
}