@font-face {
  font-family: 'Levit_Blended';
  src: url(./Levit_Blended-Bold.otf) format("opentype");
}

* {
  box-sizing: border-box;
}

html, body, #root {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;

  font-family: 'Levit_Blended';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
